@font-face {
  font-family: "Open-Sans";
  src: url(./Assets/Fonts/OpenSans-Regular.ttf);
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  font-family: Open-Sans, Arial;
  background-color: ghostwhite;
}

#root {
  height: 100vh;
  width: 100vw;
  margin: 0;
}

/* login page*/
.loginWrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginForm {
  height: auto;
  display: flex;
  flex-direction: column;
}

.loginForm input {
  margin-bottom: 40px;
}

.loginForm button {
  width: 70px;
}

.signup input {
  margin-bottom: 14px;
}

.signup button {
  margin-top: 30px;
}

.menubar {
  width: 60vw;
  height: 10vh;
  background-color: rgb(255, 255, 255);
  border-bottom-right-radius: 20px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  justify-content: space-between;
}

.side_left {
  height: 100vh;
  width: 60vw;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}

.side_right {
  height: 100vh;
  width: 40vw;
  background-color: black;
}

.content {
  display: flex;
  flex-direction: row;
}

.rec_blk {
  margin: 6px;
  width: 59vw;
  height: 14vh;
  background-color: white;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.image_sq {
  width: 90px;
  height: 50px;
  margin-right: 15px;
}

.info {
  height: 7vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 84px;
  margin-right: 10px;
}

.info div {
  font-size: 12px;
}

.info .stats {
  font-weight: 1000;
}

.button_center {
  display: flex;
  align-content: center;
  flex-direction: column;
  padding: 20px;
}

.button_center button {
  border-radius: 4px;
  height: 20px;
  margin-bottom: 5px;
  border: none;
}

.ren {
  background-color: rgba(0, 0, 255, 0.39);
}

.req {
  background-color: rgba(220, 20, 60, 0.5);
}
